$navbar-height: 150px;

* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
  // text-align: center;
}

.container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 20px;

  max-width: 1440px;

  padding-top: $navbar-height;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background-color: #0f1114;
  z-index: 100;
  transition: top 0.3s;

  padding-left: 20px;
}

.navbar--hidden {
  top: -$navbar-height;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.border {
  border: 1px solid #ffa601;
}

.text {
  width: 40vw;
}

h1,
h2,
h3 {
  padding: 10px;
}

h1 {
  background-color: #ffa601;
  color: #383838;
  font-size: 3vw;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 10px;
}

button {
  background-color: #ffa601;
  border: none;
  border-radius: 5px;
  color: #282c34;
  cursor: pointer;
  // font-size: 1.5vw;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  // text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}

input {
  background-color: #282c34;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffa601;
  // font-size: 1vw;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  // text-transform: uppercase;
}

.hightlight {
  // background-color: #ffa601;
  // color: #282c34;

  border: 1px solid #ffa601;
  color: #ffa601;

  font-weight: bold;

  width: -moz-fit-content;
  width: fit-content;

  display: inline-block;
  margin: 10px;
}

a {
  color: #ffa601;
  text-decoration: none;
  padding: 10px;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 10px;
}

.flexAll {
  display: flex;
}

.code-block-container {
  width: 80vw;
}

.code-block {
  width: 100%;
  height: 100%;
}

.limit_height {
  height: 500px;
}

.list_limit {
  height: 250px;
  overflow-y: scroll;
}

@media screen and (max-width: 960px) {
  .flex {
    display: inline-block;
  }

  .container {
    margin: 20px;

    padding-top: 0;
  }

  nav {
    display: none;
  }
}
